#
# Source Directories
#

PyQt-*/
icu*/
qt-everywhere-*/
sip-*/
sources/

#
# Output Directory
#

_out/

#
# License Files
#

pyqt-commercial.sip
qt-license
qt-license.txt

#
# Misc
#

.vagrant/
*.pyc
*.pyo
